body {
    padding: 15px;
    font-size: 15px;
    width: 800px;
    margin: 0 auto;
}
h1{
    font-size: 2em;
    color: rgb(142,40,0);
}
h2{
    font-size: 1.75em;
    color: rgb(182,73,38);
    border-bottom: 1px solid rgb(255,176,59);
}
h3{
    font-size: 1.5em;
    color: rgb(70,137,102);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(70,137,102);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255,240,165);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(70,137,102);
    background-color: rgb(255,240,165);
}
#sub{
    color: rgb(255,240,165);
    background-color:rgb(70,137,102);
}
form *{
    font-size: 1.25em;
}
form label{
    color: rgb(142,40,0);
}
.abc{
    border-color: rgb(142,40,0);
}
.abc:focus{
    outline-color: rgb(255,176,59);
}
footer {
    text-align: center;
}